#title {
    text-align: center;
    color: mediumblue;
    font-size: 45px;
}
body {
    background-color: palegoldenrod;
 
}
#instructions {
    font-size: large;
    color: blueviolet;
    text-align: center;
}
#start {
    color: darkred;
   
}
