#title {
    text-align: center;
    color: mediumblue;
    font-size: 45px;
}
body {
    background-color: palegoldenrod;
 
}
#instructions {
    font-size: large;
    color: blueviolet;
    text-align: center;
}

#greeting {
    font-size: 30px;
    text-align: center;
    color: blueviolet;
}

#start {
    color: darkred;
   
}
.button-wrapper {
    text-align: center;
    margin-top: 20px;
}
.question {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: palegoldenrod;
  }
  #timer {
    margin-bottom: 0px;
    font-size: 3rem;
    font-weight: bold;
    color: red;
    }

    .btn {
        font-size: 20px;
        padding: 5px 30px;
        width: 200px;
        text-align: center;
        border: 1px solid goldenrod;
        margin-bottom: 10px;
        text-decoration: none;
        color: darkred;
        background-color: rgb(238, 222, 46);
    }
  .btn:hover {
    cursor: pointer;
    box-shadow: 0 4px 14px 0 goldenrod;
  }