/* game title */
#title {
    text-align: center;
    color: mediumblue;
    font-size: 45px;
}

/* background */
body {
    background-color: palegoldenrod;
 
}

/* instructions on start page */
#instructions {
    font-size: large;
    color: blueviolet;
    text-align: center;
}

/* header text on each page */
#greeting {
    font-size: 30px;
    text-align: center;
    color: blueviolet;
}

#midGreeting {
    font-size: 30px;
    text-align: center;
    color: lightcoral
}

/* button position */
.button-wrapper {
    text-align: center;
    margin-top: 20px;
}

/* submit button */
.submit{ 
    font-size: 19px;
    padding: 5px 25px;
    margin-right: 50px;
    color: blue;
}

/* start "button" costume */
    .btn {
        font-size: 20px;
        padding: 5px 30px;
        width: 200px;
        text-align: center;
        border: 1px solid goldenrod;
        margin-bottom: 10px;
        text-decoration: none;
        color: darkred;
        background-color: rgb(238, 222, 46);
    }
  .btn:hover {
    cursor: pointer;
    box-shadow: 0 4px 14px 0 goldenrod;
  }

  .btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
  }

/* end game page */
  .worldTree {
    max-width: 100%;
    height: auto;
    margin: 20px 100px 20px 35px;
  }

  .endGame {
    font-size: 40px;
    color: blueviolet;
    text-align: center;
  }